@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  font-family: 'Lato', sans-serif;
}
html, body {
  background-color: #2f2f2f;
}
.headline {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}
.bg-dark-2 {
  background-color: #656565;
  color: #f3f3f3;
}
.bg-dark-3 {
  background-color: #2f2f2f;
  color: #f3f3f3;
}

.site-header a,
.site-header a:hover,
.site-header a:visited,
.site-header a:active {
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 200;
}
.site-header a:hover {
  font-weight: 300;
}

footer.bg-dark *,
footer.bg-dark p,
footer.bg-dark a,
footer.bg-dark a:hover,
footer.bg-dark a:visited,
footer.bg-dark a:active {
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 200;
}